@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #0f172a;
}
